/* POR DEFECTO
--svglogo: #FFF;
--svgcolor: #31ABAF; 
--background1: rgb(32, 32, 32); 
--background2: rgb(160, 175, 180); 
--text-color: rgb(182, 175, 165);
--title-color: #268a8d;*/

/* SOLTAR LA VOZ
--svglogo: #E78738;
--svgcolor: #c8ff00; 
--background1: rgb(32, 32, 32); 
--background2: #b15500; 
--text-color: rgb(182, 175, 165);
--title-color: #BA1C1C;*/

/* AKASHA
--svglogo: #c440ae;
--svgcolor: #403581; 
--background1: #161128; 
--background2: #DFBCC3; 
--text-color: rgb(182, 175, 165);
--title-color: #3B4896;" */

/*  DEJA VU
--svglogo: #2CFFDF;
--svgcolor: #2CFFDF; 
--background1: #03120F; 
--background2: #218173; 
--text-color: rgb(182, 175, 165);
--title-color: #FFFFFF;" */
